.idea
/week_1/grpc/bin/
/week_2/postgres/bin/
/week_2/config/bin/
/week_2/grpc/
/week_3/bin/
/week_5/bin/
/week_5/vendor.protogen/
/week_7/grpc_with_logs/bin/
/week_7/grpc_with_logs/vendor.protogen/
/week_7/grpc_with_logs/logs/
/week_7/grpc_with_metrics/bin/
/week_7/grpc_with_traces/bin/
/week_6/jwt/vendor.protogen/
/week_6/jwt/bin/
